---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Faces of Kiddush" headline="FACES OF KIDDUSH">
  <Header slot="header" about="active" />

  <div class="max800 intro">
    <div>
      <p>Kiddush started as a wineclub in 2021 and has, since then developed into a beer breweri. We are producing the beer ourselves in our little breweri in the Northern region of Zealand.</p>
      <p>
        Our passion for brewing beer stems from our desire to bring people together and create a sense of community. We believe that there's something special about sharing a pint of delicious,
        locally-brewed beer with friends and loved ones, and that's what drives us to keep experimenting and perfecting our craft.
      </p>
    </div>

    <svg width="262" height="327" viewBox="0 0 262 327" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M94.297 140.236C93.6051 140.236 92.9327 139.871 92.5727 139.226C92.0398 138.275 92.3802 137.072 93.3316 136.539C96.32 134.865 99.1911 132.906 101.861 130.716C107.941 125.729 112.863 119.705 116.49 112.804C116.998 111.839 118.192 111.468 119.158 111.976C120.123 112.484 120.494 113.678 119.986 114.643C116.114 122.013 110.857 128.45 104.364 133.771C101.513 136.109 98.4489 138.199 95.2597 139.985C94.9555 140.155 94.6235 140.236 94.297 140.236Z"
        fill="#0037FF"></path>
      <path
        d="M161.438 123.77C161.307 123.77 161.173 123.756 161.039 123.728C157.457 122.992 153.905 121.926 150.481 120.559C142.683 117.45 135.727 112.905 129.806 107.054C129.03 106.286 129.022 105.036 129.789 104.26C130.556 103.485 131.806 103.476 132.582 104.244C138.126 109.724 144.641 113.979 151.943 116.889C155.152 118.17 158.481 119.169 161.835 119.858C162.903 120.079 163.59 121.122 163.372 122.191C163.179 123.126 162.356 123.768 161.438 123.768V123.77Z"
        fill="#0037FF"></path>
      <path
        d="M35.9794 171.354C33.2283 171.354 30.4799 171.17 27.7343 170.801C26.6545 170.656 25.8956 169.663 26.0407 168.58C26.1858 167.5 27.1791 166.741 28.2617 166.887C35.48 167.858 42.7568 167.461 49.8942 165.709C57.5309 163.834 64.5706 160.522 70.8179 155.862C71.6912 155.209 72.93 155.39 73.583 156.264C74.2359 157.137 74.0545 158.376 73.1812 159.029C66.507 164.007 58.9902 167.545 50.8372 169.546C45.9293 170.751 40.9571 171.354 35.9822 171.354H35.9794Z"
        fill="#0037FF"></path>
      <path
        d="M212.066 135.679C203.671 135.679 195.526 134.036 187.859 130.79C186.854 130.366 186.385 129.206 186.81 128.201C187.234 127.197 188.394 126.728 189.399 127.152C196.578 130.188 204.204 131.728 212.066 131.728C219.416 131.728 226.578 130.377 233.356 127.716C234.371 127.316 235.518 127.816 235.917 128.832C236.316 129.847 235.817 130.994 234.801 131.393C227.56 134.239 219.913 135.679 212.066 135.679Z"
        fill="#0037FF"></path>
      <path
        d="M174.667 195.76C174.123 195.76 173.573 195.744 173.018 195.705C169.349 195.459 166.344 194.435 165.509 194.128C163.015 193.207 160.671 191.913 158.542 190.28C147.87 182.085 145.035 167.218 151.952 155.697L152.016 155.599L154.569 151.866L157.086 148.026L160.607 142.878C169.218 129.633 173.771 114.241 173.771 98.3672C173.771 81.3546 168.598 65.0479 158.813 51.2079C158.182 50.3178 158.394 49.0845 159.285 48.4539C160.175 47.8233 161.408 48.0353 162.038 48.9254C172.298 63.4351 177.722 80.5314 177.722 98.3672C177.722 115.014 172.945 131.159 163.908 145.052L163.883 145.091L160.359 150.242L157.842 154.082L155.311 157.779C149.466 167.573 151.885 180.188 160.95 187.147C162.764 188.539 164.756 189.641 166.88 190.423C167.385 190.61 170.066 191.547 173.286 191.765C179.714 192.194 185.32 189.527 188.091 187.897C189.031 187.345 190.242 187.657 190.794 188.598C191.347 189.538 191.034 190.749 190.094 191.302C187.167 193.023 181.447 195.76 174.673 195.76H174.667Z"
        fill="#0037FF"></path>
      <path
        d="M99.2253 225.765C84.3005 225.765 75.0427 213.9 74.0271 212.536C73.3769 211.659 73.5583 210.423 74.4344 209.773C75.3105 209.123 76.5466 209.304 77.1967 210.181C78.0979 211.392 86.3792 222.006 99.5797 221.813C108.43 221.685 114.806 216.802 115.994 215.825C118.037 214.146 119.817 212.162 121.282 209.927C128.905 198.313 126.179 182.718 115.079 174.4L113.977 173.658L107.077 168.951C83.8681 152.906 70.0259 126.527 70.0259 98.3724C70.0259 80.5395 75.45 63.4432 85.7096 48.9335C86.3402 48.0434 87.5707 47.8313 88.4636 48.4619C89.3536 49.0926 89.5657 50.3231 88.9351 51.216C79.1498 65.056 73.9768 81.3626 73.9768 98.3752C73.9768 125.232 87.1828 150.398 109.306 165.692L110.403 166.431L117.406 171.214C130.208 180.773 133.363 198.732 124.586 212.103C122.9 214.67 120.855 216.953 118.503 218.884C117.136 220.008 109.803 225.622 99.6383 225.77C99.5015 225.77 99.362 225.773 99.2253 225.773V225.765Z"
        fill="#0037FF"></path>
      <path d="M262 262.011H0V0H262V262.011ZM4.1853 257.826H257.815V4.18548H4.1853V257.826Z" fill="#0037FF"></path>
      <path d="M262 326.468H0V257.826H262V326.468ZM4.1853 322.282H257.815V262.011H4.1853V322.282Z" fill="#0037FF"></path>
      <path
        d="M46.9089 281.387C49.1215 279.852 50.5585 278.962 51.1835 278.736C51.8001 278.513 52.3721 278.399 52.8771 278.399C53.5328 278.399 53.9318 278.708 54.1327 279.378C54.4034 280.263 55.0507 280.731 55.9994 280.731C56.5853 280.731 57.1043 280.555 57.5424 280.212C57.9999 279.852 58.2315 279.372 58.2315 278.784C58.2315 278.036 57.8939 277.419 57.2243 276.95C56.5853 276.507 55.7817 276.281 54.8303 276.281C52.5674 276.281 49.7019 277.481 46.3202 279.85C43.1589 282.062 39.127 285.492 34.3251 290.048L36.8697 282.944C37.5338 281.128 38.05 279.981 38.4099 279.537C38.7531 279.113 39.2219 278.803 39.7994 278.622C40.4049 278.432 41.2085 278.334 42.1907 278.334H42.386L42.944 276.791H28.9512L28.3931 278.334H29.7547C31.7413 278.334 32.7486 278.753 32.7486 279.573C32.7486 279.805 32.6147 280.444 31.9785 282.174L25.4076 300.462C24.8607 301.946 24.431 302.917 24.1325 303.352C23.8535 303.76 23.354 304.109 22.6481 304.385C21.9226 304.669 21.0437 304.815 20.0337 304.815H19.8383L19.2803 306.358H33.3764L33.9344 304.815H33.5382C31.0801 304.815 29.8328 304.231 29.8328 303.082C29.8328 302.87 29.9584 302.267 30.5527 300.61L31.8223 297.099C32.5673 295.009 33.2453 293.645 33.8396 293.042C34.4172 292.456 35.1817 292.174 36.1778 292.174C37.1739 292.174 37.9579 292.459 38.5801 293.023C39.2024 293.586 39.5037 294.387 39.5037 295.467C39.5037 296.31 39.3028 297.51 38.9038 299.033C38.5048 300.582 38.3123 301.631 38.3123 302.248C38.3123 303.392 38.7587 304.404 39.6404 305.261C40.5194 306.115 41.8642 306.547 43.6415 306.547C44.9669 306.547 46.1332 306.285 47.1098 305.766C48.092 305.244 48.8927 304.452 49.4926 303.414L49.7326 302.995H47.8798L47.7962 303.09C47.4837 303.445 47.1293 303.718 46.7443 303.899C46.362 304.081 45.9323 304.173 45.4663 304.173C44.2721 304.173 43.7141 303.623 43.7141 302.44C43.7141 302.141 43.7476 301.759 43.8118 301.302C44.0015 299.934 44.0936 298.963 44.0936 298.333C44.0936 296.003 43.4546 294.128 42.1934 292.752C40.9267 291.371 39.2246 290.673 37.1404 290.673C36.6883 290.673 36.1973 290.723 35.6727 290.824C36.281 290.243 37.4083 289.206 39.4312 287.395C42.1684 284.948 44.6823 282.925 46.9033 281.384L46.9089 281.387Z"
        fill="#0037FF"></path>
      <path
        d="M70.0424 282.836C70.6757 281.08 71.1305 279.987 71.3956 279.579C71.6383 279.205 72.068 278.904 72.6651 278.683C73.2901 278.455 74.0017 278.337 74.7773 278.337H75.6842L76.2422 276.794H62.1209L61.5629 278.337H62.8744C64.861 278.337 65.8682 278.762 65.8682 279.599C65.8682 279.819 65.7343 280.447 65.0981 282.18L58.4742 300.641C57.9748 302.041 57.5953 302.954 57.3469 303.356C57.1154 303.727 56.6577 304.064 55.9853 304.36C55.2961 304.664 54.4368 304.818 53.4323 304.818H52.4501L51.8921 306.361H67.001L67.559 304.818H66.1723C65.285 304.818 64.4926 304.664 63.8118 304.36C63.1896 304.081 62.8994 303.676 62.8994 303.085C62.8994 302.862 63.025 302.253 63.6193 300.613L70.0396 282.836H70.0424Z"
        fill="#0037FF"></path>
      <path
        d="M109.139 289.459C109.139 287.155 108.559 284.947 107.415 282.897C106.265 280.834 104.496 279.252 102.161 278.189C99.8422 277.137 96.9822 276.602 93.6591 276.602C92.8667 276.602 91.4716 276.638 89.5157 276.708C87.4704 276.763 85.7042 276.794 84.2701 276.794H81.5859L81.0278 278.337H82.7438C84.7305 278.337 85.7377 278.756 85.7377 279.576C85.7377 279.808 85.6093 280.447 84.9927 282.177L78.3437 300.637C77.847 302.035 77.462 302.948 77.2053 303.35C76.9653 303.721 76.5077 304.061 75.8409 304.357C75.1601 304.661 74.3062 304.815 73.3018 304.815H71.6332L71.0752 306.358H85.3052C88.4163 306.358 90.827 306.277 92.476 306.12C94.1418 305.961 95.9889 305.506 97.9643 304.767C99.951 304.025 101.832 302.87 103.559 301.335C105.289 299.798 106.664 297.936 107.649 295.799C108.634 293.662 109.134 291.527 109.134 289.457L109.139 289.459ZM99.644 299.555C96.8622 303.09 92.8416 304.881 87.6937 304.881C84.4263 304.881 82.7689 304.284 82.7689 303.107C82.7689 302.895 82.8889 302.303 83.4637 300.699L91.5999 278.15C92.278 278.092 92.875 278.061 93.3773 278.061C96.8985 278.061 99.5548 279.001 101.268 280.86C102.987 282.724 103.86 285.171 103.86 288.137C103.86 292.16 102.443 296.003 99.644 299.558V299.555Z"
        fill="#0037FF"></path>
      <path
        d="M136.245 278.187C133.927 277.135 131.067 276.599 127.744 276.599C126.951 276.599 125.556 276.635 123.6 276.705C121.555 276.761 119.789 276.791 118.355 276.791H115.67L115.112 278.334H116.828C118.815 278.334 119.822 278.753 119.822 279.573C119.822 279.805 119.694 280.444 119.077 282.174L112.428 300.635C111.932 302.033 111.546 302.945 111.29 303.347C111.05 303.718 110.592 304.058 109.925 304.354C109.245 304.658 108.391 304.812 107.386 304.812H105.718L105.16 306.355H119.39C122.501 306.355 124.912 306.274 126.561 306.118C128.226 305.959 130.073 305.504 132.049 304.764C134.036 304.022 135.916 302.867 137.643 301.332C139.373 299.795 140.749 297.934 141.734 295.796C142.719 293.659 143.218 291.524 143.218 289.454C143.218 287.149 142.638 284.942 141.494 282.891C140.344 280.829 138.575 279.247 136.24 278.184L136.245 278.187ZM133.729 299.552C130.947 303.087 126.926 304.879 121.778 304.879C118.511 304.879 116.853 304.282 116.853 303.104C116.853 302.892 116.973 302.301 117.548 300.696L125.684 278.148C126.362 278.089 126.96 278.058 127.462 278.058C130.983 278.058 133.639 278.999 135.352 280.857C137.071 282.721 137.945 285.168 137.945 288.134C137.945 292.158 136.527 296 133.729 299.555V299.552Z"
        fill="#0037FF"></path>
      <path
        d="M179.493 278.999C180.28 278.586 181.313 278.362 182.568 278.334L182.761 278.329L183.316 276.792H171.759L171.218 278.293L171.572 278.332C174.304 278.627 175.688 279.303 175.688 280.344C175.688 280.603 175.501 281.426 174.613 283.865L170.247 295.972C169.429 298.249 168.603 300.001 167.791 301.182C166.996 302.337 165.715 303.316 163.985 304.089C162.244 304.868 160.35 305.264 158.352 305.264C156.229 305.264 154.379 304.823 152.855 303.952C151.363 303.099 150.634 301.876 150.634 300.216C150.634 299.41 151.089 297.738 151.988 295.241L156.402 282.944C157.066 281.15 157.551 280.031 157.841 279.618C158.112 279.23 158.55 278.92 159.147 278.692C159.764 278.454 160.657 278.334 161.801 278.334H162.758L163.316 276.792H148.662L148.104 278.334H149.287C151.273 278.334 152.281 278.753 152.281 279.573C152.281 279.805 152.152 280.444 151.535 282.174L147.018 294.708C146.153 297.113 145.732 298.704 145.732 299.572C145.732 302.005 146.773 303.855 148.826 305.074C150.832 306.263 153.863 306.868 157.839 306.868C159.82 306.868 161.656 306.598 163.293 306.062C164.934 305.526 166.338 304.781 167.459 303.852C168.581 302.92 169.421 301.946 169.951 300.956C170.47 299.987 171.128 298.416 171.91 296.287L176.248 284.244C176.865 282.514 177.376 281.287 177.763 280.597C178.132 279.945 178.712 279.403 179.491 278.996L179.493 278.999Z"
        fill="#0037FF"></path>
      <path
        d="M193.322 277.779C194.466 277.779 195.527 278.058 196.47 278.608C197.413 279.158 198.197 279.972 198.805 281.03C199.413 282.087 199.729 283.622 199.745 285.589V285.865H201.406L202.84 276.794H201.266L201.208 276.992C200.906 277.997 200.474 278.918 199.918 279.732C198.451 277.441 196.277 276.281 193.454 276.281C190.94 276.281 188.682 277.176 186.743 278.943C184.796 280.715 183.811 282.779 183.811 285.073C183.811 286.722 184.268 288.19 185.172 289.429C186.054 290.64 187.75 292.25 190.211 294.211C191.701 295.383 192.75 296.416 193.325 297.281C193.883 298.121 194.168 299.08 194.168 300.132C194.168 301.581 193.551 302.758 192.284 303.729C191.012 304.706 189.486 305.2 187.748 305.2C185.694 305.2 183.855 304.508 182.284 303.14C180.719 301.779 179.84 299.496 179.678 296.352L179.664 296.086H178.116L176.799 306.014H178.59L178.652 305.822C178.961 304.865 179.444 303.989 180.088 303.207C182.293 305.638 184.971 306.871 188.055 306.871C190.694 306.871 193.105 306.059 195.228 304.463C197.374 302.847 198.462 300.755 198.462 298.252C198.462 296.988 198.144 295.721 197.519 294.488C196.885 293.243 195.382 291.706 192.923 289.794C190.887 288.218 189.492 286.976 188.78 286.105C188.096 285.271 187.753 284.275 187.753 283.148C187.753 281.758 188.267 280.503 189.277 279.411C190.284 278.329 191.648 277.779 193.336 277.779H193.322Z"
        fill="#0037FF"></path>
      <path
        d="M230.507 276.794L229.949 278.337H230.345C232.485 278.337 233.568 278.762 233.568 279.599C233.568 279.819 233.434 280.447 232.798 282.18L229.971 290.079H214.145L216.726 282.944C217.374 281.136 217.845 280.014 218.127 279.607C218.389 279.228 218.816 278.921 219.396 278.692C219.996 278.457 220.906 278.337 222.097 278.337H222.293L222.851 276.794H209.29L208.732 278.337H209.128C210.471 278.337 211.411 278.449 211.924 278.667C212.371 278.859 212.58 279.147 212.58 279.576C212.58 279.808 212.452 280.447 211.835 282.177L205.186 300.638C204.673 302.089 204.271 303.032 203.989 303.439C203.727 303.819 203.244 304.145 202.558 304.408C201.849 304.678 200.934 304.818 199.84 304.818H199.645L199.089 306.361H212.904L213.462 304.818H213.065C210.744 304.818 209.614 304.251 209.614 303.085C209.614 302.873 209.742 302.273 210.359 300.613L213.515 291.834H229.341L226.227 300.465C225.694 301.921 225.281 302.876 224.999 303.305C224.734 303.704 224.249 304.059 223.548 304.357C222.834 304.661 221.866 304.815 220.677 304.815H220.482L219.924 306.358H234.07L234.628 304.815H234.232C231.824 304.815 230.602 304.226 230.602 303.063C230.602 302.85 230.727 302.253 231.322 300.613L237.717 282.836C238.334 281.111 238.78 280.026 239.048 279.61C239.293 279.228 239.723 278.921 240.331 278.695C240.965 278.457 241.774 278.337 242.734 278.337H242.935L243.451 276.794H230.507Z"
        fill="#0037FF"></path>
    </svg>
  </div>
  <section class="bg_alternate">
    <div class="max800 jacob">
      <h2 class="place_right">JACOB</h2>
      <img class="jacob_img" src="/img/portraitjacob.webp" alt="potrait of co-owner, Jacob" />
      <p>
        Jacob is 24 years old and started Kiddush in 2021 . It all began when Jacob got tired of everything being so fancy while working as a cellare. Gathering people around good beer for a
        reasonable price became a misson.
        <br />
        <br />
        Jacob has a good sense for graphic design and does’nt put anything in production that he can’t stand by. A thouroughly developed product from beginning to end is the most important thing for Jakob
        as co-owner of Kiddush.
      </p>
    </div>
  </section>
  <section>
    <div class="max800 lucas">
      <h2 class="place_left">LUCAS</h2>
      <img class="lucas_img" src="/img/portraitlucas.webp" alt="portrait of co-owner, Lucas" />
      <p>
        Lucas is 25 years old and grew up in Østerbro, Copenhagen. Good food and a healthy thirst has always been a part of Lucas’ persona. With a passion for brewing and a knack for experimentation,
        he brings a unique and creative perspective to the brewery's operations.
        <br />
        <br />
        His dedication to quality ensures that every sip of Kiddush beer is a delight for the taste buds, and his enthusiasm for community-building makes him a natural fit for the company's mission.
      </p>
    </div>
  </section>
  <section class="bg_alternate">
    <div class="max800 video">
      <div>
        <h3>Behind the Scenes at Kiddush</h3>
        <p>
          <b>PLACEHOLDER VIDEO - SKAL SKIFTES</b>Join us as we take you through the brewing process, introduce you to our team, and share our passion for creating delicious, community-driven beer.
          You'll get an inside look at where we meticulously craft each batch of beer to perfection and get to see our co-founders, who share their story and vision for Kiddush
        </p>
      </div>
      <iframe
        src="https://www.youtube-nocookie.com/embed/mgFe7FxhA5o"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </section>

  <style>
    .intro p {
      padding: 0 14px 50px;
    }
    svg {
      padding: 14px;
    }
    p {
      max-width: 800px;
    }
    img,
    video {
      max-width: 100vw;
    }

    .lucas img,
    .jacob img {
      border-radius: 50%;
      margin-top: 34px;
      margin-bottom: 34px;
    }

    iframe {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h3 {
      margin-bottom: 20px;
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      padding-left: 14px;
      padding-right: 14px;
      width: 100%;
    }

    .bg_alternate {
      background-color: var(--background2);
      padding-top: 46px;
      padding-bottom: 46px;
    }

    h2 {
      text-align: center;
      text-transform: uppercase;
      color: var(--kiddushblack);
    }

    /* iframe {
      width: 350px;
      height: 197px;
    } */
    @media (min-width: 800px) {
      .intro {
        display: flex;

        gap: 90px;
      }

      .intro img {
        width: 262px;
      }
      .jacob img,
      .lucas img {
        max-width: 473px;
      }
      .max800 {
        max-width: 1170px;
        margin: auto;
      }

      .jacob {
        display: grid;
        grid-template-columns: 5fr 6fr;
        gap: 90px;
      }
      .jacob_img {
        grid-column: 1/2;
        grid-row: 1/3;
      }
      .place_right {
        grid-row: 1;
      }

      .lucas {
        display: grid;
        grid-template-columns: 6fr 5fr;
        gap: 90px;
      }
      .place_left {
        grid-row: 1;
      }

      .lucas_img {
        grid-column: 2/3;
        grid-row: 1/3;
      }
      .video {
        display: flex;
        gap: 90px;
      }
      iframe {
        order: -1;
        margin-top: 0px;
        width: 560px;
        height: 250px;
      }

      svg {
        min-width: 300px;
      }
    }

    @media (max-width: 1170px) {
      .jacob_img,
      .lucas_img {
        align-self: center;
      }
    }
    @media (min-width: 450px) and (max-width: 799px) {
      .jacob_img,
      .lucas_img {
        max-width: 500px;
        justify-self: center;
        margin: 34px auto 34px auto;
      }
    }

    @media (max-width: 800px) {
      svg {
        display: none;
      }
      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  </style>
</MainLayout>
